body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}
ul{
    padding: 0;
    margin: 0;
}
.container{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    /* list-style: none; */
    padding: 0;
    margin: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
#branding{
    /* margin-top: 10px; */
    float: left;
}
#branding h1{
    margin: 0;
}
.navbar{
    /* display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    float:right;
    margin-top: 10px;
}
.highlight{
    color: #e8491d;
    font-weight: bold;
}
header .current a{
    color:#e8491d;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:white;
    /* font-weight: bold; */
}
a:hover{
    text-decoration: none;
    color:#cccccc;
    font-weight: bold;
}

/*showcase*/

#showcase{
    min-height:400px;
    line-height:3em;
    text-align: center;
    color:#ffffff;
    background-image: url(/images/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
/* newsletter */

#newsletter{
    padding: 15px;
    color: #ffffff;
    background-color: #35434a;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button{
    height: 36px;
    background-color: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
button:hover{
    cursor: pointer;
}
#boxes{
margin-top: 20px;
}
#boxes .box{
    /* border: 1px solid black; */
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes .box img{
    width: 90px;
}
.Html{
    font-size: 20px;
}
.style{
    font-size: 20px;
}
.graphic{
    font-size: 20px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    font-size: 15px;
}
#main{
    float:left;
    width: 800px;
}
.section2{
    /* border: 1px solid black; */
    color: #ffffff;
    background-color: #35424a;
    padding: 15px;
    float: right;
    width: 400px;
    margin-top:20px;
    /* margin-left: 40px; */
}
.theme{
    color: #ffffff;
    background-color: #35424a;
    padding: 15px;
}

/* Services */
ul#Services li{
    /* border: 1px solid black; */
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin: 5px;
    background-color: #e6e6e6;
     /* box-shadow: 5px 5px 4px 4px grey; */
     transition: all 0.5s ease-in-out;
     /* cursor: pointer; */
}
ul#Services li:hover{
    /* margin-top: 30px; */
    margin-left: 30px;
    cursor: pointer;
}
#Services{
    float: left;
    width: 800px;
    /* box-shadow: 10px 5px 10px 4px black; */
}
.section3{
    color: #ffffff;
    background-color: #35424a;
    padding: 15px;
    float: right;
    width: 270px;
    margin-bottom:100px;
    margin-right: 100px;
    /* height: 300px; */
}
.pa{
    font-size: 20px;
}
h3{
    font-size: 20px;
}

/* Contact Us */
.ti{
    text-align: center;
    margin-left: 20px;
    font-size: 40px;
    color: black;
}
#form{
    height: 60vh;
    width: 40%;
    transition: all 0.5s ease-in-out;
    /* border: 4px solid grey; */
}
#form .Icons .fb:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
}
#form .form1 input{
    /* border: 1px solid black; */
    /* border-radius: 20px; */
    width: 90%;
    padding: 10px;
}
#form .form2 input{
    /* border: 1px solid black; */
    /* border-radius: 20px; */
    width: 90%;
    padding: 10px;
}
#form .form3 input{
    /* border: 1px solid black; */
    /* border-radius: 20px; */
    width: 90%;
    padding: 10px;
}
.form1{
    padding-left: 20px;
    /* border: 1px solid black; */
}
.form2{
    padding-left: 20px;
    /* border: 1px solid black; */
}
.form3{
    padding-left: 20px;
    /* border: 1px solid black; */
}


.Na{
    color: black;
    font-size:25px;
    /* border:1px solid black; */
}
.User{
    color: black;
    font-size:25px;
}
.em{
    color: black;
    font-size:25px;
}
.bb{
    /* border: 1px solid black; */
    min-height:700px;
    line-height:3em;
    /* text-align: center; */
    color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transition: all 0.5s ease-in-out; */
	/* font-size: 35px;
	backdrop-filter: blur(1px);
	opacity: 0; */
    background-image: url("../images/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
.sub{
    /* font-family: Arial, Helvetica, sans-serif; */
    height: 36px;
    background-color: #e8491d;
    border: 0;
    /* font-size: 16px; */
    width: 300px;
    margin-left: 155px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;       
}
.sub:hover{
    color: yellow;
    cursor: pointer;
}

/* Icons */
.fb{
    width:50px;
}
/* .fb:hover{
    cursor:pointer;
    margin-top: 10px;
} */
.Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr; */
    margin-top: 30px;
    margin-right: 50px;
    /* padding: 40px; */
    /* margin-left: 100px; */
    /* border: 1px solid black; */
}
